body{
  margin: 0px;
  background-color: rgb(87, 65, 116);
}
.myprofile_container {
  background-color: #2e2e2e;
  margin: 2.7% auto;
  width: 80%;
  border: 1px solid black;
}

.customer_profile_photo img {
  border: 1px solid black;
}

.customer_profile_details {
  width: 80%;
  margin: 0px auto;
  padding: 5%;
}

.myprofile_container label {
  /* //text-align: center; */
    color: whitesmoke;
  display: block;
  padding: 1%;
  border: 1px solid rgb(201, 214, 231);
}
