body {
  margin: 0px;
  background-color: rgb(87, 65, 116);
}
.cust_profile_container {
  color: gray;

}

.acc_details {
  width: 25%;
  height: 45%;
  background-color: #2e2e2e;
  float: left;
  padding: 2%;
  margin: 2%;
  text-align: center;
  border: 1px solid rgba(44, 78, 134, 0.3);
  font-size: 2.3vh;
}

.acc_details label {
  width: 90%;
  background-color: rgb(39, 50, 58);
  color: whitesmoke;
  float: left;
  padding: 2%;
  margin: 2%;
  text-align: left;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.statement {
  height: 45%;
  width: 58%;
  padding: 2%;
  margin: 2%;
  background-color: #2e2e2e;
  float: left;
  overflow: auto;
  text-align: center;
  border: 1px solid rgba(44, 78, 134, 0.3);
}

.statement table {
  width: 100%;
  margin: 1% auto;
  /* //height: 2%; */
  font-size: 2vh;
  color: rgba(212, 129, 4, 0.774);
  border-collapse: collapse;
  border: 1px rgb(221, 221, 221);
  /* //padding: 20px; */
  text-align: center;
}
.statement table th {
  color: rgba(212, 129, 4, 0.774);
  background-color:#380864c2;
  border: 1px solid rgb(219, 219, 219);
}

.statement table tr:nth-child(even) {
 background-color: #2e2e2e;
}

.statement table tr:nth-child(odd) {
  background-color: rgba(124, 124, 124, 0.808);
}

.statement table tr td {
  border: 1px solid rgb(219, 219, 219);

  padding: 1%;
  height: 50px;
}
